BasedOnStyle: Google
Language: Cpp
Standard: c++17
ColumnLimit: 100
NamespaceIndentation: All
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
SpaceBeforeCpp11BracedList: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: true
BreakStringLiterals: true
BinPackParameters: true
BinPackArguments: true
BreakBeforeBraces: Allman
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
IncludeCategories:
  - Regex:           '^("|<)date/'
    Priority:        2
  - Regex:           '^("|<)dlib/'
    Priority:        3
  - Regex:           '^("|<)libxml/'
    Priority:        4
  - Regex:           '^("|<)nlohmann/'
    Priority:        5
  - Regex:           '<[[:alnum:].]+>'
    Priority:        6
  - Regex:           '.*'
    Priority:        1