[submodule "schema"]
	path = schemas
	url = https://github.com/mtconnect/schema.git
[submodule "libxml2"]
	path = libxml2
	url = https://git.gnome.org/browse/libxml2
[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date.git
[submodule "dlib"]
	path = dlib
	url = https://github.com/davisking/dlib.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
