*~
Debug
Release
*.o
*.obj
*.suo
*.ncb
*.user
*.log
*.gz
test/agent.log*
build/
test_package/build
cmake-build-debug/**
cmake-build-release/**
.idea/**
ACCESS_TOKEN
.DS_Store
.vscode
CMakeUserPresets.json