Devices = ../simulator/VMC-3Axis.xml
AllowPut = true
ReconnectInterval = 1000
BufferSize = 17
SchemaVersion = 1.3
MonitorConfigFiles = true
# MinimumConfigReloadAge = 30

Adapters { 
   VMC-3Axis { 
      Host = 127.0.0.1
      Port = 7878
   } 
}

Files {
    schemas {
        Path = ../schemas
        Location = /schemas/
    }
    styles {
        Path = ../styles
        Location = /styles/
    }
    Favicon {
        Path = ../styles/favicon.ico
        Location = /favicon.ico
    }
}

# StreamsStyle {
#   Location = /styles/Streams.xsl
# }
DevicesStyle { Location = /styles/styles.xsl }
StreamsStyle { Location = /styles/styles.xsl }

# Logger Configuration
logger_config
{
    output = file /var/log/mtconnect/agent.log
    logging_level = info
}
