ServiceName = MTConnect Agent
Devices = VMC-3Axis.xml
# Port = 5000
# BufferSize = 17
# CheckpointFrequency = 1000
# LogFile = agenet.log
# LogLevel = INFO
# HeartbeatRequired = true

# In UNIX
# PidFile = agent.pid

Adapters
{
    VMC-3Axis
    {
        UUID = VMC-12345
        SerialNumber = 12345
        # Manufacturer = VMC
        # Station = 1
        Host = localhost
        Port = 7878
    }
}