name: Build MTConnect C++ Agent

on:
  # Enable automated build once verified
  pull_request:
    paths-ignore: ["**/*.md", "LICENSE.txt", ".gitignore"]
    branches: [ "main", "main-dev" ]

  push:
    paths-ignore: ["**/*.md", "LICENSE.txt", ".gitignore"]
    branches: [ "main", "main-dev" ]

  # Allow manually run workflows
  workflow_dispatch:

jobs:
  build_windows:
    runs-on: windows-2019
    strategy:
      matrix:
        arch: ["x86", "amd64"]
        include:
          - arch: "x86"
            profile: "vs32"
          - arch: "amd64"
            profile: "vs64"

# Shared build will be reenabled once I figure why one of the tests is failing
#        shared: ["False", "True"]
#        include:
#          - shared: "False"
#            profile: "vs64"
#          - shared: "True"
#            profile: "vs64shared"

    steps:
    - name: Checkout Agent
      uses: actions/checkout@v3

    - name: Cache conan packages
      id: cache-npm
      uses: actions/cache@v3
      env:
       cache-name: cache-conan-packages
      with:
        path: ~/.conan2
        key: ${{ runner.os }}-build-${{ matrix.arch }}-${{ hashFiles('**/conanfile.py') }}

    - name: Install Conan
      uses: turtlebrowser/get-conan@v1.2

    - name: Initialize VS Dev Env
      uses: seanmiddleditch/gha-setup-vsdevenv@master
      with:
        arch: ${{ matrix.arch }}
        host_arch: ${{ matrix.arch }}
          
    - name: Build and Test C++ Agent
      run: |
        conan profile detect -f
        conan create . --build=missing -pr conan/profiles/${{ matrix.profile }} -o with_docs=False -o cpack=True -o zip_destination=C:\Users\runneradmin\

  build_linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shared: ["True", "False"]
            
    steps:
    - name: Checkout Agent
      uses: actions/checkout@v3

    - name: Install dependencies
      shell: bash
      run: |
        sudo apt install -y build-essential cmake gcc-11 g++-11 python3 autoconf automake
      
    - name: Install Conan
      uses: turtlebrowser/get-conan@v1.2
      
    - name: Build and Test C++ Agent
      shell: bash
      run: |
        conan profile detect -f
        conan create . --build=missing -pr conan/profiles/gcc  -o shared=${{ matrix.shared }} -o with_docs=False -o cpack=True
        
  build_macos:
    runs-on: macos-latest
    strategy:
      matrix:
        shared: ["True", "False"]
            
    steps:
    - name: Checkout Agent
      uses: actions/checkout@v3

    - name: Install Conan
      uses: turtlebrowser/get-conan@v1.2
      
    - name: Build and Test C++ Agent
      shell: bash
      run: |
        conan profile detect -f
        conan create . --build=missing -pr conan/profiles/macos  -o shared=${{ matrix.shared }} -o with_docs=False -o cpack=True
        
        
    
